numpy
pandas
dask
# pyarrow==0.12.1
tqdm
ipython
ipdb
jupyter
jupyter_contrib_nbextensions
matplotlib
seaborn
sklearn
pytorch-pretrained-bert==0.6.2
tensorflow-gpu==1.15.2
click
langid
seqeval
conlleval
toolz
cloudpickle
pytest
pytest-cov
flask
somajo
