numpy
pandas
dask
tqdm
ipython
ipdb
jupyter
jupyter_contrib_nbextensions
matplotlib
seaborn
sklearn
click
langid
seqeval
conlleval
toolz
cloudpickle
pytest
pytest-cov
flask
flask-htpasswd
flask-cachecontrol
somajo
scipy
gensim
gunicorn
pyldavis